@import url(./partilals/owl-carousel.min.css);
html, body {
  height: 100%;
  overflow-x: hidden; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.iblock {
  display: inline-block; }

.flex {
  display: flex; }

.flex1 {
  flex: 1; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.fw4 {
  font-weight: 400; }

.fw6 {
  font-weight: 600; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.mt80 {
  margin-top: 80px; }

.mt30 {
  margin-top: 30px; }

.mt0 {
  margin-top: 0; }

.mb20 {
  margin-bottom: 20px; }

.mb80 {
  margin-bottom: 80px; }

.mb0 {
  margin-bottom: 0; }

.pt80 {
  padding-top: 80px; }

.pb80 {
  padding-bottom: 80px; }

.mian_heading {
  font-size: 40px;
  color: #222222;
  line-height: 1.2;
  font-weight: bold; }

.section_heading {
  font-size: 32px;
  color: #222222;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase; }

.body_content {
  color: lightgrey;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400; }

.section_taglines {
  max-width: 50%;
  margin: 0 auto;
  padding: 40px 0 60px; }

.highlight {
  color: lightsalmon; }

.round_btn {
  background-color: #222222;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  border: 0;
  border-radius: 20px;
  padding: 10px 25px; }
  .round_btn:focus, .round_btn:visited, .round_btn:hover {
    outline: none;
    background-image: none; }
  .round_btn:hover {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5); }

@media (max-width: 991px) {
  .xspt0 {
    padding-top: 0; }

  .xsmt0 {
    margin-top: 0; } }
.banner_slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }

.mobileApp-Carousel {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  margin-top: 170px; }
  .mobileApp-Carousel .carousel-center {
    transform: translateY(-100%); }

.mobileApp-Carousel img {
  cursor: pointer;
  /* not needed if you wrap carousel items in links */ }

.owl-carousel-container .owl-stage-outer {
  min-height: 340px; }

.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease; }

.owl-item.center > div {
  cursor: auto;
  margin: 0; }

.owl-item:not(.center) > div:hover {
  opacity: .75; }

.item {
  border: 1px solid #dddddd;
  background-color: #f7f7ff; }

.owl-dots {
  text-align: center;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  bottom: 0; }

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px; }

.owl-dots button.owl-dot.active {
  background-color: #000; }

.owl-dots button.owl-dot:focus {
  outline: none; }

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 8px #ddd; }
  .sticky-navbar .center_nav {
    float: none; }
    .sticky-navbar .center_nav li a {
      color: lightgrey; }
      .sticky-navbar .center_nav li a:focus, .sticky-navbar .center_nav li a:hover {
        background-color: transparent;
        outline: none; }
    .sticky-navbar .center_nav li.active a {
      color: #222222; }

.collection {
  position: relative; }
  .collection:before {
    content: '';
    width: 100%;
    height: 40%;
    background-color: lightsalmon;
    position: absolute;
    left: 0;
    bottom: 0; }

.collection_image {
  padding: 60px 0;
  background-color: #f7f7f7; }
  .collection_image img {
    width: 100%;
    max-width: 170px;
    height: 170px; }

.collection_image__description {
  background-color: #ffffff; }

.left_section__taglines {
  margin-bottom: 30px;
  margin-top: 20px; }

.keep_in__touchField {
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: block;
  width: 100%;
  margin-bottom: 30px; }
  .keep_in__touchField:focus {
    outline: none; }

.fine_jewelery__box {
  padding: 30px;
  background-color: #f7f7f7;
  border: 1px solid #ddd; }
  .fine_jewelery__box img {
    width: 100%;
    height: 170px; }

.footer_section {
  background-color: #f7f7f7; }

.footer_links {
  border-top: 1px solid #ddd; }

.footer_link__lists {
  list-style: none;
  display: inline-block; }
  .footer_link__lists li {
    display: inline-block;
    padding: 10px;
    color: lightgrey; }

/*# sourceMappingURL=assignment.css.map */
